<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huyun.sys.dao.PermissionMapper">
	<select id="selectByUserId" resultType="com.huyun.sys.model.Permission">
		select distinct(a.permission_id) ,a.parent_id,a.name,a.url,a.type,a.sort,a.perms,a.icon
		from sys_permission a,sys_role_permission b,sys_user_role c
		where a.permission_id=b.permission_id
		and c.role_id=b.role_id
		and c.user_id = #{userId}
		ORDER BY a.sort
	</select>

	<select id="findByPatentId" resultType="com.huyun.sys.model.Permission">
		select * from sys_permission where parent_id = #{parentId}
	</select>
	<!--根据roleId查询权限信息-->
	<select id="selectPerssionByroleId" resultType="com.huyun.sys.model.Permission">
		select p.* from sys_permission p where permission_id
		in(select permission_id from sys_role_permission where role_id = #{roleId})
	</select>
	<select id="findlist" resultType="com.huyun.sys.model.Permission">
		select p.* from sys_permission p
  		 order by sort asc
	</select>

</mapper>